In [1]:
#1
import pandas as pd
import numpy as np

data = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

df.rename(columns={'First Name': 'first_name', 'Age': 'age'}, inplace=True)

print(df.head(3))

mean_age = df['age'].mean()
print(f"Mean Age: {mean_age}")

print(df[['first_name', 'City']])

df['Salary'] = np.random.randint(40000, 100000, size=len(df))
print(df)

print(df.describe())

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
Mean Age: 32.5
  first_name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago
  first_name  age           City  Salary
0      Alice   25       New York   64423
1        Bob   30  San Francisco   79359
2    Charlie   35    Los Angeles   93700
3      David   40        Chicago   77059
             age        Salary
count   4.000000      4.000000
mean   32.500000  78635.250000
std     6.454972  11999.209984
min    25.000000  64423.000000
25%    28.750000  73900.000000
50%    32.500000  78209.000000
75%    36.250000  82944.250000
max    40.000000  93700.000000

In [2]:
#2
sales_and_expenses = pd.DataFrame({
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
})

max_sales = sales_and_expenses['Sales'].max()
max_expenses = sales_and_expenses['Expenses'].max()
print(f"Max Sales: {max_sales}, Max Expenses: {max_expenses}")

min_sales = sales_and_expenses['Sales'].min()
min_expenses = sales_and_expenses['Expenses'].min()
print(f"Min Sales: {min_sales}, Min Expenses: {min_expenses}")

avg_sales = sales_and_expenses['Sales'].mean()
avg_expenses = sales_and_expenses['Expenses'].mean()
print(f"Average Sales: {avg_sales}, Average Expenses: {avg_expenses}")

Max Sales: 8000, Max Expenses: 4500
Min Sales: 5000, Min Expenses: 3000
Average Sales: 6625.0, Average Expenses: 3750.0

In [3]:
#3
expenses = pd.DataFrame({
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
})

expenses.set_index('Category', inplace=True)

max_expenses = expenses.max(axis=1)
print("Maximum Expenses:\n", max_expenses)

min_expenses = expenses.min(axis=1)
print("Minimum Expenses:\n", min_expenses)

avg_expenses = expenses.mean(axis=1)
print("Average Expenses:\n", avg_expenses)

Maximum Expenses:
 Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64
Minimum Expenses:
 Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64
Average Expenses:
 Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64